**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/*.tfplan
**/terraform.tfstate.d
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
**/.terraform.lock.hcl
**/*.pem
**/*secret.tfvars
**/*secretdev.tfvars